.SearchBox {
  background: url("/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SearchIcon.png") no-repeat scroll 4px center #ffffff;
  border: solid 1px lightgray;
  border-radius: 12px;
  height: 18px;
  padding-left: 20px;
  width: 120px;
}
.Clickable {
  cursor: pointer;
}
.Ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.QuickSearchResult {
  height: 30px;
  overflow: hidden;
}
.QuickSearchResult .Avatar {
  float: left;
  padding-top: 3px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.QuickSearchResult .Avatar img {
  width: 24px;
  height: 24px;
}
.QuickSearchResult .Content {
  padding-left: 5px;
  overflow: hidden;
}
.QuickSearchResult .Content .Title {
  padding-top: 8px;
  vertical-align: bottom;
}
div[id*="quickSearchResult-"] {
  position: absolute;
  background: white;
  width: 315px;
  margin-top: 6px;
  margin-left: 3px;
  display: none;
  z-index: 1001;
}
div[id*="quickSearchResult-"] table,
div[id*="quickSearchResult-"] th,
div[id*="quickSearchResult-"] td {
  border: 1px solid lightgray;
}
.QuickSearchPortlet input:focus,
.QuickSearchPortlet textarea:focus {
  outline: none;
}
.calendarBox {
  font-family: "Helvetica Neue Bold", Helvetica, Lucida, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}
.calendarBox .heading {
  background-color: #567AB6;
  background-image: -moz-linear-gradient(center top, #638acd, #426393);
  background-repeat: repeat-x;
  border: 1px solid #224886;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  margin: 0;
  padding: 2px 0;
}
.calendarBox .content {
  border: 1px solid #C3C3C3;
  border-radius: 0 0 4px 4px;
  color: #316399;
  font-size: 24px;
  padding: 8px;
}
.statusTask i {
  background: url("/unified-search/public/images/status-task.png") repeat scroll 0 0 transparent;
  display: inline-block;
  height: 38px;
  width: 38px;
}
.statusTask i.quicksearch {
  background-size: 145px 35px;
  height: 24px;
  width: 24px;
}
.statusTask i.quicksearch.needs-actionIcon {
  background-position: 0 0;
}
.statusTask i.quicksearch.in-processIcon {
  background-position: -35px 0;
}
.statusTask i.quicksearch.completedIcon {
  background-position: -72px 0;
}
.statusTask i.quicksearch.canceledIcon {
  background-position: -108px 0;
}
