
#quickSearchSetting {
  height: 600px;
}

#quickSearchSetting div {
  margin-top: 10px;
}

#quickSearchSetting table tr {
  height: 30px;
}

#quickSearchSetting table td:first-child {
  width: 110px;
}


#lstSearchInOptions {
  display: none;
  border: 1px dotted;
  border-top:none;
  overflow-x: hidden;
  padding-bottom: 10px;
  margin-left: 4px;
}
